<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MaterialClassificationMappingMapper">

    <delete id="delAll" >
        DELETE FROM material_classification_mapping WHERE kind_code = #{kindCode}
    </delete>

    <insert id="addCheck" >
        INSERT INTO material_classification_mapping (kind_code) VALUES (#{kindCode});
    </insert>


</mapper>
